<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= @memo_data[:title] %>
  <%= @memo_data[:body] %>
  <input type="button" value="変更" onclick="location.href='/<%= @id %>/edit'">
  <form action="/<%= @id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除">
  </form>
  <input type="button" value="topへ戻る" onclick="location.href='/'">
</body>
</html>
